html, body {
    overflow-x: hidden;
}

.text-pop {
    color: #008888;
}

#teltype-img {
    width: 100%;
    height: 100%;
    opacity: 0.75;
    transition: 2s ease;
}

#teltype-filter {
    height: 100%;
    width: 100%;
    background-color: #007BFF;
    margin-left: 5em;
}

#teltype-filter:hover #teltype-img{
    opacity: 1;
}

#github-img {
    width: 100%;
    height: 100%;
    opacity: 0.75;
    transition: 2s ease;
}

#github-filter {
    height: 100%;
    width: 100%;
    background-color: #6C757D;
    margin-left: -5em;
}

#github-filter:hover #github-img{
    opacity: 1;
}